*{
    margin: 0px;
    font-family: "Mooli";
    
}

body{
    overflow: hidden;
}



header{
    background-color: darkmagenta;
    height: 17vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

header>img{

    height: 125px;  
}

.header-tema{

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-tema h2{
    font-size: larger;
}

.sem-conta{
    font-size:  large;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 50%;

}

.header-form{
    width: 100%;
    height: 50%;
}

.header-button{
    width: 100%;
    height: 100%;
    border-radius: 20px;

    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    box-shadow: 0 2.5px #999;
}

.header-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666; 
    transform: translateY(4px); 
}

main{
    background-color: coral;
    height: 73vh;

    display: flex;
    align-items:center;
    flex-direction: column;

}

.centro{

    display: flex;
    justify-content: center;
}

.cadastro{
    background-color: #999;
    width: 50%;
    height: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top_cadastro{
    height: 10%;
    width: 70%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.cadastro form{
    
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{

    display: flex;
    flex-direction: column;
    
    padding-bottom: 6px;

    width: 60%;
    gap: 2px;
    font-size: small;

}

select{
    height: 20px;
    border-radius: 5px;
}

.inputs input{
    height: 20px;
    border-radius: 5px;
    height: 25px;
    border: none;
}

.inputs button{
    height: 30px;
    border: none;
    border-radius: 10px;
    width: 100%;

    cursor: pointer;
    background-color: #28a745;
    color: white;
    transition: transform 0.3s, background-color 0.2s;
}

.inputs button:active {
    transform: scale(0.95);
    background-color: #218838;
}

.checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox label:hover {
    color:#9c5b45;
}

footer{
    background-color: orchid;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: x-large;
}

footer>img{
    height: 70px;
}

.footer-3{
    font-size: medium;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 10px;
}