*{margin: 0px;} /*O ASTERISCO serve para aplicar a todos*/

body{
    height: 100vh ; /*o widht não é preciso definir porque por padrão é a  100vw*/
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fora {
    border: 1px solid;
    height: 80%;
    width: 80%;
    display: flex; /*Essa flexibilidade irá alinhar o que esta dentro dele mas não proprio div chamado fora aqui no trabalho*/
    align-items: center;
    justify-content: center;

}

.secundaria {
    margin: 0%;
    border: 1px solid black;
    width: 80%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    /*gap: 2vw*/
}

.terciaria-um {
    border: 1px solid;
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   

}

.terciaria-dois{
    border: 1px solid;
    height: 80%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



.lvl4{
    background-color: #348a34;
    width: 60px; 
    height: 60px;
    border: none;
}



