body{
    background-color: #348a02 ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.lvl1 {
    border-radius: 175px 50px 175px 50px;
    background-color: lightgray;
    width: 30%;
    height:70%;
    display: flex;
   
    flex-direction: column;
    justify-content: top;

    box-shadow: -5px 10px 20px -10px rgba(0,0,0,1);
}

#wolverine{
   width: 29%;
   height: 18%
}

#botao{
    border: 0px;
    width: 42%;
    background-color: #348a02 ;
    border-radius: 5px;
    padding: 8px;
}

#botao:hover{
    background-color: darkgreen;
    color: white;
}

.miolo{
   
    display: flex;
    align-items: center;
    justify-content: center;
    
}

input{
    border: none;
    border-radius: 5px;
    width: 40%;
    padding: 5px;
}
