*{margin: 0px;}

body{
    background-color: #348a02 ;
    height: 100vh;
    /*widht: 100vw*/
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.lvl1 {
    width: 30%;
    height:60%;
    background-color: #ecebeb;
    border-radius: 100px 25px;

    display: flex;
    flex-direction: column;
    justify-content: top;

    box-shadow: -5px 10px 20px -10px rgba(0,0,0,.75);
}

#wolverine{
    /*pode usar "em"no lugar de px*/
   height: 35%;
   margin-bottom: 3vh;
}
form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    }

label{
    font-size: small;
    margin-bottom: 1.5vh;
}

input{
    height: 4vh;
    border-radius: 7px;
    border: 1px solid lightgray;
    margin-bottom: 2vh;
    width: 50%;
}


button{
    margin-top: 2vh;
    background-color: #348a02 ;
    color: white;
    height: 30px;
    width: 50%;
    border: 0px;
    font-size: .7em;
    border-radius: 7px;
}

button:hover{
    background-color: darkgreen;
}