:root{
    --azul-claro: #D6EAF8;
    --cinza: #343A40;
    --azul: #0583F2;
    --cinza-escuro: #222;
}

*{
    font-family: 'Roboto', sans-serif;
}


body{
    margin: 0%;
    background-color:  #D6EAF8;
    width: 100vw;
    height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}



.central{

    background-color: #222;
    height: 50vh;
    width: 50%;
    gap: 2vw;
    border-radius: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo{
    width: 30%;
    gap: 2vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo > img{
   width: 150px; 
   border-radius: 50%;
}

.logo > span{
    font-size:smaller;
    color: white;
}


.formLogin{
    width: 50%;
    height: 100%;
    gap: 2vh;

    display:flex;
    align-items: center;
    justify-content: left;
}

form{
    gap: 3vh;

    width: 100%;
    height: 60%;

    display: flex;
   
    justify-content: center;
    flex-direction: column;
   
}


label{
    font-size: medium;
    color: white;
}

.formLogin input{
    padding: 10px;
    margin-top: 10px;

    width: 85%;
    height: 18px;
    border-radius: 10px;
}

button{
    font-size: x-large;
    font-weight: 500;
    width: 90%;
    height: 35px;

    background-color: #0583F2 ;
    color: white;

    border-radius: 10px;


}