*{
    font-family:"Mooli";
    margin: 0px;
    border: 0px;}


body {
    overflow: hidden;
}

header{

    height:  10vh;
 
    display: flex;
    align-items: center;
    justify-content: space-evenly;}
.logo_header > img{
     height: 60px;
     padding-left: 50px;}


main{

    height: 80vh;
    width:100% ;

    display: flex;
    flex-direction: row; 
}

.lateral{
    width: 12.5%;    }
.lateral img{
    height: 100px;
    animation: subirDescer 2s ease-in-out infinite;} 
.lateral td{
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;}

.miolo{
    width: 75%;

    display: flex;
    flex-direction: column;}


.dados{
        
        height: 85%;
        display: flex;
        flex-direction: row;

}

.login{

    width: 50%;
    justify-content: center;
    align-items: end;}
.logo_login{

    width: 100%;
    height: 40%;

    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;

    padding-bottom: 15px;}
.login img{
        height: 100px; }

.form{
    height: 60%;}
.form form{
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 22px;}

.usuario{
    height: 20%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;}
.usuario input{
    height: 30px;
    border-radius: 10px;
    width: 60%;
    background-color: #eee;
}
.usuario button{
    height: 40px;
    border-radius: 12px;
    width: 60% ;}
.usuario button:hover{
    scale: 1.1;}

.cadastro{
    width: 50%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.top_cadastro{
    height: 10%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.cadastro form{
    height: 100%;
    width: 80%;

    display: flex;
    flex-direction: column;
   align-items: center;
}

.inputs{

    display: flex;
    flex-direction: column;
    
    padding-bottom: 8px;

    width: 60%;
    gap: 2px;
    font-size: small;

}

.inputs input{
    height: 20px;
    border-radius: 5px;
}

.inputs button{
    height: 30px;
    border-radius: 10px;
    width: 100%;
}
.checkbox {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.checkbox label:hover {
    color: #007bff; 
}


.bottom{
    width: 100%;}
.bottom tr{
    display: flex;
    justify-content: space-around;}
.bottom img{
    height: 75px;
    animation: lateralizar 2s ease-in-out infinite;}

 footer{
    height: 10vh;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding: 5px;}
.logo_footer > img{
    height: 60px;}
   
.marca{
    font-size: x-large;
    align-items: center;  }
.creditos{
    
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;}


@keyframes subirDescer {
 0%, 100% {
     transform: translateY(0); /* Posição inicial e final */
 }
50% {
    transform: translateY(10px); /* Move a imagem para cima */
            }
        }

@keyframes lateralizar {
    0%, 100% {
        transform: translate(0);
}
    50% {
        transform: translateX(10px);
    }}